/* ---------- */
/* Login Form */
/* ---------- */

#login-form a,
#login-form label {
  color: #777;
}

.btn-login,
.btn-login:focus {
  color: #fff;
  background-color: #46b4ae;
  border-color: #11afa9;
}

.btn-login:hover {
  color: #fff;
  background-color: #11afa9;
}

/* ---------------- */
/* Top Dash Widgets */
/* ---------------- */

#dash-heading > .col-lg-3 > .panel-blue > .panel-heading {
  color: #fff;
  background-color: #516695;
  margin: 0;
}

#dash-heading > .col-lg-3 > .dash-widget {
  cursor: pointer;
}

#dash-heading > .col-lg-3 > .panel-blue,
#dash-heading > .col-lg-3 > .panel-yellow,
#dash-heading > .col-lg-3 > .panel-red {
  border: none;
}

#dash-heading > .col-lg-3 > .panel, .panel-blue > a:hover, 
#dash-heading > .col-lg-3 > .panel, .panel-blue > a:focus {
  color: #516695;
}

.panel-yellow > .panel-heading {
  color: #fff;
  background-color: #f0ad4e;
}

#dash-heading > .col-lg-3 > .panel-yellow >  a:hover, 
#dash-heading > .col-lg-3 > .panel-yellow >  a:focus {
  color: #f0ad4e;
}

.panel-red > .panel-heading {
  color: #fff;
  background-color: #d9534f;
}

#dash-heading > .col-lg-3 > .panel-red >  a:hover, 
#dash-heading > .col-lg-3 > .panel-red >  a:focus {
  color: #d9534f;
}

/* --------------------- */
/* Dash Widget - General */
/* --------------------- */

.dash-widget {
  margin-top: 30px;
}

.dash-widget > .panel-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.hide-widget,
.show-widget {
  cursor: pointer;
}

.hide-widget:hover,
.show-widget:hover {
  color: #b4e2df;
}

/* -------------------------- */
/* Dashboard Task List Widget */
/* -------------------------- */

#task-panel .panel-body,
#task-panel .panel {
  padding-top: 0.15em;
  padding-bottom: 0;
}

ul.task-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: #777;
}

ul.task-list li {
  min-height: 2.75em;
}

ul.task-list li:first-child {
  border-top: none;
  padding-top: 0.5em;
}

ul.task-list li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

ul.task-list li:hover {
  background-color: #f6f5f9;
}

ul.task-list li:hover > form {
  background-color: #fff;
}

ul.task-list li a {
  color: #777;
}

ul.task-list li a:hover {
  color: #46b4ae;
  text-decoration: none;
}

ul.task-list li > table,
ul.task-list li a {
  vertical-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul.task-list li:last-child > table {
  margin-bottom: 0;
  padding-bottom: 0;
}

ul.task-list form {
  margin-bottom: 0.5em;
}

ul.task-list input {
  margin-bottom: 0.5em;
  padding-top: 0;
  padding-bottom: 0;
  height: 2em;
}

ul.task-list .form-group {
  margin-top: 0.45em;
}

input.form-control[list=statuses],
input.form-control[list=priorities] {
  display: inline-block;
  width: 49.5%;
}

ul.task-list button {
  width: 49.5%;
}

ul.task-list li { 
  padding-right: 0.5em;
  padding-left: 0.5em;
}

ul.task-list li {
  border-style: solid none;
  border-top-color: #efefef;
  border-bottom-color: #d3d3d3;
  border-width: 1px;
}

i.fa-square-o,
i.fa-check-square-o {
  color: #ccc;
  margin-right: 0.5em;
}

span.edit-task {
  visibility: hidden;
  float: right;
  vertical-align: top;
  padding-top: 0.5em;
}

span.edit-task > i {
  color: #ccc;
  cursor: pointer;
}

span.edit-task > i:hover,
span.edit-task > i:focus {
  color: #777;
}

a.task-title {
  font-weight: bold;
}

td.task-listing {
  width: 100%;
}

.task-details,
.task-form {
  display: none;
}

/* --------------- */
/* Task Model View */
/* --------------- */
.task-details {
  width: 100%;
}

.task-details td {
  padding-right: 2.5em;
}

.task-details th {
  width: 20%;
}
