.btn-login,
.btn-login:focus {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-login:hover {
  color: #fff;
  background-color: #357ebd;
}

.dash-widget {
  margin-top: 30px;
}

/* Dashboard Task List Widget */

table.task-list td > .fa-square-o { 
  padding-right: 0.5em;
}

a.task-title {
  font-weight: bold;
}

table.task-model tr {
  display: none;
}

table.task-model tr:first-of-type {
  display: block;
}

.task-form {
  display: none;
}