$main-dark-gray: #333
$panel-red-color: #d9534f
$panel-yellow-color: #f0ad4e
$panel-green-color: #5db85b
$panel-blue-color: #418bca

#dashboard-wrapper
  background-color: #eeeeee
  font-family     : "Open Sans Source Pro", "Helvetica", "Arial", sans-serif
  height          : 100%
  padding         : 15px

  & .btn
    background-color: #000

    &:hover
      background-color: inherit

  &.navbar-fixed-top
    height: 50px

  & .navbar,
  & .navbar-default.navbar-fixed-top,
    background-color: rgba(0,0,0,0.87)
    border          : none

  & #page-wrapper
    box-sizing: border-box

  & .panel-body
    padding: 15px

  .navbar-brand
    &:hover
      color: #72b1e5

    & > i
      margin-right: 15px

  .navbar-fixed-top
    margin-bottom: 0
    box-sizing   : border-box

  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus
    background-color: #000

  .task-details
    display: none

  li.task-list-item
    list-style: none 
    
  span.edit-task
    visibility: hidden
    float     : right 
    vertical-align: top
    padding-top   : 0.5em

  .dash-widget
    span.pull-left,
    span.pull-right
      color: #ccc

  .panel-primary,
  .panel-blue,
  .panel-yellow,
  .panel-red,
  .panel-green
    border: none,
    margin: none

  .panel-primary,
  .panel-green,
  .panel-red,
  .panel-blue,
  .panel-yellow,
    & .panel-heading
      color : #fff 
      margin: 0

    .panel-body span.pull-left,
    .panel-body span.pull-right
      color: #ccc

  .panel-blue,
  .panel-primary
    .panel-heading
      background-color: $panel-blue-color

    &:hover span.pull-left, 
    &:hover span.pull-right
      color: $panel-blue-color

  .panel-green
    .panel-heading
      background-color: $panel-green-color

    &:hover span.pull-left,
    &:hover span.pull-right
      color: $panel-green-color

  .panel-red
    .panel-heading
      background-color: $panel-red-color

    &:hover span.pull-left,
    &:hover span.pull-right
      color: $panel-red-color

  .panel-yellow 
    .panel-heading
      background-color: $panel-yellow-color

    &:hover span.pull-left,
    &:hover span.pull-right
      color: $panel-yellow-color

  #task-panel 
    .panel-body
      padding-left : 0
      padding-right: 0

    .task-list 
      a 
        color: #777

      & li:last-child
        border-bottom : none
        margin-bottom : 0
        padding-bottom: 0

        & > table
          margin-bottom : 0
          padding-bottom: 0

      & li:hover
        background-color: #f6f6f6

      .form-group
        margin-top: 0.45em

      input
        margin-bottom : 0.5
        padding-top   : 0 5px
        height        : 2em

      li
        padding            : 0
        padding-left       : 0.5em
        border-style       : solid none
        border-top-color   : #efefef
        border-bottom-color: #d3d3d3
        border-width       : 1px

        &.quick-add-form:hover
          background-color: #fff

        & li > table,
        & li a
          vertical-align: center
          margin-top    : 0.5em
          margin-bottom : 0.5em

    i.fa-square-o,
    i.fa-check-square-o
      color       : #ccc
      margin-right: 0.5em

    span.show-widget,
    span.hide-widget
      display: none

      i
        color: #fff

    a.task-title
      font-weight: bold
      font-size  : 0.9em

      &:hover
        text-decoration: none

    form
      margin-bottom: 0.5em

@import "./partials/_dashboard-top-nav-links"
@import "./partials/_dashboard-home-view"
@import "./partials/_dashboard-sidebar"
@import "./partials/_dashboard-top-widgets"
@import "./partials/_task-panel-view"
