$main-dark-gray: #333

#dashboard-wrapper
  padding-top     : 100px
  padding-left    : 250px
  background-color: $main-dark-gray
  font-family     : "Open Sans Source Pro", "Helvetica", "Arial", sans-serif
  height          : 100%

  #page-wrapper
    box-sizing: border-box

  & #side-menu
    display: none 

  & .sidebar-search
    padding: 15px

    & input 
      background-color: #e7e7e7
      border-color    : $main-dark-gray
      height          : auto

      &:focus
        border-color      : $main-dark-gray
        outline           : 0
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #444
        box-shadow        : inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #444

    & button
      background-color: #232323
      color           : #999
      border-color    : #444

      &:hover 
        background-color: #282828
        color           : #fff
        border-color    : #444

  @media(min-width:768px)
    .navbar-static-side
      z-index: 1
      position: absolute
      width: 250px
      margin-top: 51px

    #dashboard-wrapper .navbar-top-links .dropdown-messages,
    #dashboard-wrapper .navbar-top-links .dropdown-tasks,
    #dashboard-wrapper .navbar-top-links .dropdown-alerts
      margin-left: auto

  @media(max-height:600px) and (max-width:767px)
    .sidebar-collapse
      max-height: 300px
      overflow-y: scroll


  @media(max-height:400px) and (max-width:767px)
    .sidebar-collapse
      max-height: 200px
      overflow-y: scroll

  .navbar-brand
    &:hover
      color: #7dccc8

    & > i
      margin-right: 15px

  .navbar-fixed-top
    margin-bottom: 0
    box-sizing   : border-box

  .navbar-static-side
    margin-top: 2em

  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus
    background-color: #282828
    border-color    : #428bca

  .task-details
    display: none

  li.task-list-item
    list-style: none 
    
  span.edit-task
    display: none

  .dash-widget
    span.pull-left,
    span.pull-right
      color: #ccc

  .panel-primary,
  .panel-blue,
  .panel-yellow,
  .panel-red,
  .panel-green
    border: none,
    margin: none

  .panel-primary,
  .panel-green,
  .panel-red,
  .panel-blue,
  .panel-yellow,
    .panel-heading
      color : #fff 
      margin: 0
    .panel-body span.pull-left,
    .panel-body span.pull-right
      color: #ccc

  .panel-blue
    .panel-heading
      background-color: #516695

  .panel-green
    .panel-heading
      background-color: #5cb85c
    .panel-body span.pull-left:hover,
    .panel-body span.pull-right:hover
      color: #5cb85c

  .panel-yellow
    .panel-heading
      background-color: #f0ad4e

  .panel-red
    .panel-heading
      background-color: #d9534f

    .panel-blue:hover
      span.pull-left,
      span.pull-right
        color: #516695

    .panel-yellow:hover
      span.pull-left,
      span.pull-right
        color: #f0ad4e

    .panel-red:hover
      span.pull-left,
      span.pull-right
        color: #d9534f

  #task-panel 
    span.show-widget,
    span.hide-widget
      display: none

      i
        color: #fff

/* Sidebar Navigation Styles */

.arrow 
  float: right

.fa.arrow:before
  content: "\f105"

.active > a > .fa.arrow:before
  content: "\f107"

/* Test Views */
body.test
  background-color: #dedede

  #triggers
    margin : 10px
    padding: 10px

  #view
    margin : 10px
    padding: 10px

@media (min-width: 768px)
  #dashboard-wrapper
    padding-top: 50px

@import "./partials/_dashboard-top-nav-links"
@import "./partials/_dashboard-home-view"
@import "./partials/_dashboard-top-widgets"
@import "./partials/_task-panel-view"