<!-- Navigation -->
<nav id='navbar-top' class='nav'>
  <ul class='top-nav'>
    <li>
      <a href='#top' title='Top' class='btn btn-dark btn-lg toggle' onclick='return false'><i class='fa fa-arrow-up fa-fw'></i></a>
    </li>
    <li>
      <a href='#contact' title='Contact' class='btn btn-dark btn-lg toggle' onclick='return false'><i class='fa fa-phone fa-fw'></i></a>
    </li>
    <li>
      <a href='#about' title='About' class='btn btn-dark btn-lg toggle' onclick='return false'><i class='fa fa-info-circle fa-fw'></i></a>
    </li>
    <li>
      <a href='#register' title='Register' class='btn btn-dark btn-lg toggle' onclick='return false'><i class='fa fa-user-plus fa-fw'></i></a>
    </li>
    <li>
      <a href='#' title='Log In' class='btn btn-dark btn-lg toggle login-link'><i class='fa fa-login fa-fw'></i></a>
    </li>
  </ul>
</nav>

<!-- Login Form Goes Here -->
<div id='shade'></div>

<!-- Header -->
<header id='top' class='header'>
  <div class='text-vertical-center'>
    <h1>Welcome to Tessitura</h1>
    <h3>Career Management for Classical Singers</h3>
    <br>
    <a href='#about' class='btn btn-dark btn-lg' onclick='return false'>Find Out More</a>
  </div>
</header>

<!-- About -->
<section id='about' class='about'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 text-center'>
        <h2>Tessitura makes it easy to manage your career and life as a classical singer.</h2>
        <p class='lead'>You have a lot to keep track of: Performances, rehearsals, 
          professional development, education, and more - not to mention the rest 
          of your life. Tessitura provides an easy, convenient way for you to stay
          on top of it all, managing everything from just one place.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Features -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id='features' class='services bg-primary'>
  <div class='container'>
    <div class='row text-center'>
      <div class='col-lg-10 col-lg-offset-1'>
        <h2>Features</h2>
        <hr class='small'>
        <div class='row'>
          <div class='col-md-3 col-sm-6'>
            <div class='service-item'>
              <span class='fa-stack fa-4x'>
              <i class='fa fa-circle fa-stack-2x'></i>
              <i class='fa fa-check fa-stack-1x text-primary'></i>
            </span>
              <h4>
                <strong>Flexible Task Management</strong>
              </h4>
              <p>Stay on top of all the things you do</p>
              <a href='#' class='btn btn-light'>Learn More</a>
            </div>
          </div>
          <div class='col-md-3 col-sm-6'>
            <div class='service-item'>
              <span class='fa-stack fa-4x'>
              <i class='fa fa-circle fa-stack-2x'></i>
              <i class='fa fa-thumb-tack fa-stack-1x text-primary'></i>
            </span>
              <h4>
                <strong>Audition Listings</strong>
              </h4>
              <p>Great performance opportunities all in one place</p>
              <a href='#' class='btn btn-light'>Learn More</a>
            </div>
          </div>
          <div class='col-md-3 col-sm-6'>
            <div class='service-item'>
              <span class='fa-stack fa-4x'>
              <i class='fa fa-circle fa-stack-2x'></i>
              <i class='fa fa-rocket fa-stack-1x text-primary'></i>
            </span>
              <h4>
                <strong>Professional Development</strong>
              </h4>
              <p>Resources to help you become a better singer or educator</p>
              <a href='#' class='btn btn-light'>Learn More</a>
            </div>
          </div>
          <div class='col-md-3 col-sm-6'>
            <div class='service-item'>
              <span class='fa-stack fa-4x'>
              <i class='fa fa-circle fa-stack-2x'></i>
              <i class='fa fa-mobile-phone fa-stack-1x text-primary'></i>
            </span>
              <h4>
                <strong>Mobile-Friendly Interface</strong>
              </h4>
              <p>Access your account anytime, any place</p>
              <a href='#' class='btn btn-light'>Learn More</a>
            </div>
          </div>
        </div> <!-- end .row (nested) -->
      </div> <!-- end .col-lg-10 -->
    </div> <!-- end .row -->
  </div> <!-- end .container -->
</section>

<!-- Portfolio -->
<section id='register' class='register'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-10 col-lg-offset-1 text-center'>
        <h2>Sign Up!</h2>
        <hr class='small'>
        <div class='row'>
          <div class='col-md-12'>
            <!-- Registration form view goes here -->
          </div>
        </div><!-- end .row (nested) -->
      </div> <!-- end .col-lg-10 -->
    </div> <!-- end .row -->
  </div> <!-- end .container -->
</section>
<!-- Footer -->
<footer class='bg-primary'>
  <div class='container'>
    <div class='row'>
      <div id='contact-us' class='col-lg-10 col-lg-offset-1 text-center'>
        <h4><strong>Tessitura</strong></h4>
        <p>3841 SE 51st Ave.<br>Portland, OR 97206</p>
        <ul class='list-unstyled'>
          <li><i class='fa fa-phone fa-fw'></i> (503) 720-6147</li>
          <li><i class='fa fa-envelope-o fa-fw'></i>  <a href='mailto:info@tessitura.io'>info@tessitura.io</a>
          </li>
        </ul>
        <hr class='small'>
        <p class='text-muted'>Copyright &copy; Tessitura 2015</p>
      </div> <!-- end .col-lg-10 .col-lg-offset-1 .text-center -->
    </div> <!-- end .row -->
  </div> <!-- end .container -->
</footer>