<div class='row'>
  <div class='col-xs-3'>
    <div id='backlog-tasks' class='panel panel-red dash-widget'>
      <div class='panel-heading'>Backlog</div>
    </div>
  </div>
  <div class='col-xs-3'>
    <div id='new-tasks' class='panel panel-blue dash-widget'>
      <div class='panel-heading'>New</div>
    </div>
  </div>
  <div class='col-xs-3'>
    <div id='in-progress-tasks' class='panel panel-primary dash-widget'>
      <div class='panel-heading'>In Progress</div>
    </div>
  </div>
  <div class='col-xs-3'>
    <div id='blocking-tasks' class='panel panel-yellow dash-widget'>
      <div class='panel-heading'>Blocking</div>
    </div>
  </div>
</div>