#dashboard-wrapper
  padding: 0

  #page-wrapper
    min-height      : 568px
    background-color: #eeeeee
    width           : 100%
    float           : right

    & > div.row
      padding-left: 1.5em
      padding-right: 1.5em

  @media(min-width: 768px)
    #page-wrapper
      position   : inherit
      padding    : 0
      min-height : 1300px
      float      : right