#dashboard-top-widgets
  width           : 100%
  min-height      : 50px

  & .col-lg-3
    width          : 25%
    margin         : -1.8px
    box-sizing     : border-box
    -moz-box-sizing: border-box
    display        : inline-block

    & .panel
      min-height: 50px
      margin    : 15px auto
      cursor    : pointer

      & .panel-body
        background-color: #fff
        box-sizing      : border-box
        -moz-box-sizing : border-box

    & .panel:first-child
      margin-left: 0

    & .panel:last-child
      margin-right: 0

    // & > .panel, .panel-blue > a:hover,
    // & > .panel, .panel-blue > a:focus
  //     color: #516695

  //   & > .panel-yellow > a:focus,
  //   & > .panel-yellow > a:hover
  //     background-color: #f0ad4e
  //     color           : #fff

  //   & > .panel-red > a:hover,
  //   & > .panel-red > a:focus
  //     background-color: #d9534f
  //     color           : #fff

  //   &:first-child
  //     width: 240px

  // & .col-xs-3
  //   float: left
  //   padding-right: 0

  // & .col-xs-9
  //   float: right

  // & .dash-widget
  //   cursor    : pointer
  //   margin-top: 30px

  //   & > .panel-body
  //     padding         : 0
  //     background-color: #fff

  // & .hide-widget,
  // & .show-widget
  //   cursor: pointer

  // & .huge
  //   font-size: 2.5em

  // & .panel-primary:hover
  //   span.pull-left,
  //   span.pull-right
  //     color: #46b4ae

  // & .panel-blue:hover
  //   span.pull-left,
  //   span.pull-right
  //     color: #516695

  // & .panel-yellow:hover
  //   span.pull-left,
  //   span.pull-right
  //     color: #f0ad4e

  // & .panel-red:hover
  //   span.pull-left,
  //   span.pull-right
  //     color: #d9534f

  // .text-right > div:not(.huge)
  //   font-size: 0.9em