#dashboard-wrapper
  #page-wrapper
    padding         : 0px 15px
    min-height      : 568px
    background-color: #ebeef2
    width           : 100%
    float           : right

  @media(min-width: 768px)
    #page-wrapper
      border-left: 1px solid #e7e7e7
      position   : inherit
      margin     : 0,0,0,250px
      padding    : 0,30px
      min-height : 1300px
      float      : right