#dashboard-top-widgets
  float: right 
  clear: both

  & .col-lg-3
    & > .panel-blue > .panel-heading 
      background-color: #516695
      color           : #fff 

    & .dash-widget
      cursor          : pointer

    & > .panel-primary,
    & > .panel-blue,
    & > .panel-yellow,
    & > .panel-red,
    & > .panel-green
      border: 0

    & > .panel, .panel-blue > a:hover,
    & > .panel, .panel-blue > a:focus
      color: #516695

    & > .panel-yellow > a:focus,
    & > .panel-yellow > a:hover
      background-color: #f0ad4e
      color           : #fff

    & > .panel-red > a:hover,
    & > .panel-red > a:focus
      background-color: #d9534f
      color           : #fff

  * .col-xs-3
    float: left
    padding-right: 0

  & .col-xs-9
    float: right

  & .dash-widget
    cursor    : pointer
    margin-top: 30px

    & > .panel-body
      padding         : 0
      background-color: #fff

  & .hide-widget,
  & .show-widget
    cursor: pointer

  & .huge
    font-size: 2.5em

  & .panel-primary:hover
    span.pull-left,
    span.pull-right
      color: #428bca

  & .panel-blue:hover
    span.pull-left,
    span.pull-right
      color: #516695

  & .panel-yellow:hover
    span.pull-left,
    span.pull-right
      color: #f0ad4e

  & .panel-red:hover
    span.pull-left,
    span.pull-right
      color: #d9534f

  .text-right > div:not(.huge)
    font-size: 0.9em