#registration-form
  margin-bottom: 15px
  padding      : 20px

  .half-width
    width  : 46%
    display: inline-block

    &.left
      margin-right: 3px

    &.right 
      margin-left: 3px

  & > fieldset
    display: block
    border : 0
    padding: 0
    margin : 15px 10px 0 0

    & button
      box-sizing: border-box
      margin    : auto 5px
      font-size : inherit

    & input
      margin-top   : 5px
      margin-bottom: 5px

      &:not(.half-width)
        position    : relative
        width       : 93%
        margin-left : auto
        margin-right: auto

    &.has-error
      & input.checkbox,
      & label > input.checkbox
        color: #a94442

  & div.terms
    font-weight   : normal
    display       : block
    text-align    : left
    vertical-align: center
    margin        : 15px 10px 10px 6px 

    & input[type="checkbox"]
      position      : relative
      vertical-align: center
      margin        : 0 10px 0 0
      top           : 1px
      float         : left

    & label
      padding-left: 5px
      font-weight : normal

    &.has-error
      border : 1px solid #a94442
