$state-danger-text: #a94442

#homepage-wrapper
  #registration-form
    margin-bottom: 0.938em

    .half-width
      width  : 46%
      display: inline-block

      &.left
        margin-right: 0.188em

      &.right 
        margin-left: 0.188em

    & > fieldset
      display: block
      border : 0
      padding: 0
      margin : 0.938em 0.625em 0 0

      & button
        box-sizing: border-box
        margin    : auto 0.313em
        font-size : inherit

      & input
        margin-top   : 0.313em
        margin-bottom: 0.313em

        &:not(.half-width)
          margin-right: auto
          margin-left : auto
          position    : inherit

        &:not(.half-width):not(.checkbox)
          position    : relative
          width       : 93%

      &.has-error
        & input.checkbox,
        & label > input.checkbox
          color: $state-danger-text

      & input.has-error
        border-color: $state-danger-text

    & fieldset.terms
      text-align: left

      & input.checkbox
        float      : left
        margin-left: 0.938em
        margin-top : 0

      &.has-error
        border : 0.063em solid $state-danger-text
