#registration-form
  margin-bottom: 15px

  .half-width
    width: 46%

  & > fieldset
    display: block
    border : 0
    passing: 0 10px
    padding: 0 
    margin : 15px 10px 0 0

    & button
      box-sizing: content-box
      margin    : auto 5px
      font-size : inherit

    &.terms
      font-weight   : normal
      display       : block
      text-align    : left
      margin        : 15px 10px 10px 6px 

      & input[type="checkbox"]
        position      : relative
        vertical-align: bottom
        margin        : 0 10px 0 0
        top           : 1px

      & label
        padding-left: 5px
        font-weight : normal

    & input
      margin            : 5px
      display           : inline-block