#task-panel .panel-body,
#task-panel .panel
  padding-top   : 0.15em
  padding-bottom: 0

ul.task-list
  margin-top   : 0
  margin-bottom: 0
  padding-top  : 0
  list-style   : none
  padding-left : 0
  color        : #777

  & > li 
    min-height: 2.75em

    &:first-child
      padding-top: 0.5em

    &:last-child
      border-bottom : none
      margin-bottom : 0
      padding-bottom: 0

    & > form 
      display   : block