#task-panel 
  .panel-body,
  .panel
    padding-top   : 0.15em
    padding-bottom: 0

  .panel-body
    padding   : 0
    margin    : 0

    &:after
      display: none !important

@import "./_task-collection-view"