#profile-info
  margin-top: 1.313em

  .nav > li > a:hover
    background-color: #ccc
    color           : #fff
    border-color    : #bbb

  .tab-content > h4
    margin-top: 1.313em

  #avatar
    vertical-align: top
    float         : left
    margin-right  : 1.313em
    margin-bottom : 1.313em

  th
    padding-right: 0.31em 1.313em 0.31em 0.31em
    height       : 2em
    vertical-align: middle

  td 
    padding: 0
    height : 2em

    input
      padding              : 0.31em
      border               : 1px solid #ccc
      line-height          : normal
      border-radius        : 3px
      -webkit-border-radius: 3px

      &[type=date]
        padding: 2px

  span 
    vertical-align: middle

    &.input
      line-height: normal
      display: none

  tr
    height: 2em