#profile-info
  margin-top: 1.313em

  .nav > li > a:hover
    background-color: #ccc
    color           : #fff
    border-color    : #bbb

  .tab-content > h4
    margin-top: 1.313em

  #avatar
    vertical-align: top
    float         : left
    margin-right  : 1.313em
    margin-bottom : 1.313em

  th
    padding-right: 1.313em