<div id='view'>
</div>
<div id='triggers'>
  <ul>
    <li><a href='#' data-method='hideToggleWidgetIcon'>hideToggleWidgetIcon</a></li>
    <li><a href='#' data-method='hideWidget'>hideWidget</a></li>
    <li><a href='#' data-method='showToggleWidgetIcon'>showToggleWidgetIcon</a></li>
    <li><a href='#' data-method='showWidget'>showWidget</a></li>
    <li><a href='#' data-method='remove'>remove</a></li>
    <li><a href='#' data-method='render'>render</a></li>
    <li><a href='#' data-method='displayIcon'>displayIcon</a></li>
    <li><a href='#' data-method='hideIcon'>hideIcon</a></li>
    <li><a href='#' data-method='displayPanelBody'>displayPanelBody</a></li>
    <li><a href='#' data-method='hidePanelBody'>hidePanelBody</a></li>
  </ul>
</div>