<% var imgURL = model.get('headshot') %>
<img id='avatar' height='150' src="<%= imgURL || '/vendor/img/avatar.svg' %>">

<table>
  <tr data-attribute='name'>
    <th>Name:</th>
    <td title='Double-click to edit'><span class='profile-field' id='first_name'><span class='p'><%= model.get('first_name') %></span><span class='form'><form><input name='first_name' type='text' value='<%= model.get('first_name') %>' /></form></span></span> <span class='profile-field' id='last_name'><span class='p'><%=model.get('last_name') %></span><span class='form'><form><input name='last_name' type='text' value='<%= model.get('last_name') %>' /></form></span></span></td>
  </tr>
  <tr data-attribute='username'>
    <th>Username:</th>
    <td title='Double-click to edit'>
      <span class='profile-field' id='username'>
        <span class='p'><%= model.get('username') %></span>
        <span class='form'><form><input name='username' type='text' value='<%= model.get('username') %>'></form></span>
      </span>
    </td>
  </tr>
  <tr data-attribute='email'>
    <th>E-mail:</th>
    <td>
      <span class='profile-field' id='email' title='Double-click to edit'>
        <span class='p'><%= model.get('email') %></span>
        <span class='form'><form><input name='email' type='email' value='<%= model.get('email') %>' /></form></span>
      </span>
    </td>
  </tr>
  <tr data-attribute='birthdate'>
    <th>Birthdate:</th>
    <td title='Double-click to edit'>
      <span class='profile-field' id='birthdate'>
        <span class='p'><%= model.get('birthdate') || 'N/A' %></span>
        <span class='form'><form><input name='birthdate' type='date' value='<%= model.get('birthdate') %>' /></form></span>
      </span>
    </td>
  </tr>
  <tr data-attribute='fach'>
    <th>Fach:</th>
    <td title='Double-click to edit'>
      <% var displayFach = model.Fach ? model.Fach.displayTitle() : 'N/A' %>
      <span class='profile-field' id='fach'>
        <span class='p'><%= displayFach %></span>
        <span class='form'>
          <form>
            <% var fach = model.escape('fach') %>
            <select name='fach'>
              <option<%- fach === 'Soprano - lyric coloratura' ? ' selected' : '' %>>
                Soprano - lyric coloratura
              </option>
              <option<%- fach === 'Soprano - dramatic coloratura' ? ' selected' : '' %>>
                Soprano - dramatic coloratura
              </option>
              <option<%- fach === 'Soprano - lyric' ? ' selected' : '' %>>
                Soprano - lyric
              </option>
              <option<%- fach === 'Soprano - spinto' ? ' selected' : '' %>>
                Soprano - spinto
              </option>
              <option<%- fach === 'Soprano - dramatic' ? ' selected' : '' %>>
                Soprano - dramatic
              </option>
              <option<%- fach === 'Mezzo-soprano - Rossini' ? ' selected' : '' %>>
                Mezzo-soprano - Rossini
              </option>
              <option<%- fach === 'Mezzo-soprano - lyric' ? ' selected' : '' %>>
                Mezzo-soprano - lyric
              </option>
              <option<%- fach === 'Mezzo-soprano - dramatic' ? ' selected' : '' %>>
                Mezzo-soprano - dramatic
              </option>
              <option<%- fach === 'Contralto' ? ' selected' : '' %>>
                Contralto
              </option>
              <option<%- fach === 'Countertenor' ? ' selected' : '' %>>
                Countertenor
              </option>
              <option<%- fach === 'Tenor leggiero' ? ' selected' : '' %>>
                Tenor leggiero
              </option>
              <option<%- fach === 'Tenor - lyric' ? ' selected' : '' %>>
                Tenor - lyric
              </option>
              <option<%- fach === 'Tenor - spinto' ? ' selected' : '' %>>
                Tenor - spinto
              </option>
              <option<%- fach === 'Heldentenor' ? ' selected' : '' %>>
                Heldentenor
              </option>
              <option<%- fach === 'Lyric baritone' ? ' selected' : '' %>>
                Lyric baritone
              </option>
              <option<%- fach === 'Dramatic baritone' ? ' selected' : '' %>>
                Dramatic baritone
              </option>
              <option<%- fach === 'Lyric bass' ? ' selected' : '' %>>
                Lyric bass
              </option>
              <option<%- fach === 'Basso buffo' ? ' selected' : '' %>>
                Basso buffo
              </option>
              <option<%- fach === 'Basso profondo' ? ' selected' : '' %>>
                Basso profondo
              </option>
              <option<%- fach === 'Other' ? ' selected' : '' %>>
                Other
              </option>
            </select>
          </form>
        </span>
      </span>
    </td>  
  </tr>
  <tr data-attribute='address_1'>
    <th>Address 1:</th>
    <td title='Double-click to edit'>
      <span class='profile-field' id='address_1'>
        <span class='p'><%= model.get('address_1') || 'N/A' %></span>
        <span class='form'><form><input name='address_1' value='<%= model.get('address_1') %>' /></form></span>
      </span>
    </td>
  </tr>
  <tr data-attribute='address_2'>
    <th>Address 2:</th>
    <td title='Double-click to edit'>
      <span class='profile-field' id='address_2'>
        <span class='p'><%= model.get('address_2') || 'N/A' %></span>
        <span class='form'><form><input name='address_1' value='<%= model.get('address_2') %>' /></form></span>
      </span>
    </td>
  </tr>
  <tr data-attribute='city'>
    <th>City:</th>
    <td title='Double-click to edit'>
      <span class='profile-field' id='city'>
        <span class='p'><%= model.get('city') || 'N/A' %></span>
        <span class='form'><form><input name='city' value='<%= model.get('city') %>' /></form></span>
      </span>
    </td>  
  </tr>
  <tr data-attribute='state'>
    <th>State:</th>
    <td title='Double-click to edit'>
      <span class='profile-field' id='state'>
        <span class='p'><%= model.get('state') || 'N/A' %></span>
        <span class='form'>
          <form>
            <% var state = model.get('state'); %>
            <select name='address_1'>
              <option<%- state === 'AK' ? ' selected' : '' %>>
                AK
              </option>
              <option<%- state === 'AL' ? ' selected' : '' %>>
                AL
              </option>
              <option<%- state === 'AR' ? ' selected' : '' %>>
                AR
              </option>
              <option<%- state === 'AZ' ? ' selected' : '' %>>
                AZ
              </option>
              <option<%- state === 'CA' ? ' selected' : '' %>>
                CA
              </option>
              <option<%- state === 'CO' ? ' selected' : '' %>>
                CO
              </option>
              <option<%- state === 'CT' ? ' selected' : '' %>>
                CT
              </option>
              <option<%- state === 'DE' ? ' selected' : '' %>>
                DE
              </option>
              <option<%- state === 'FL' ? ' selected' : '' %>>
                FL
              </option>
              <option<%- state === 'GA' ? ' selected' : '' %>>
                GA
              </option>
              <option<%- state === 'HI' ? ' selected' : '' %>>
                HI
              </option>
              <option<%- state === 'IA' ? ' selected' : '' %>>
                IA
              </option>
              <option<%- state === 'ID' ? ' selected' : '' %>>
                ID
              </option>
              <option<%- state === 'IL' ? ' selected' : '' %>>
                IL
              </option>
              <option<%- state === 'IN' ? ' selected' : '' %>>
                IN
              </option>
              <option<%- state === 'KS' ? ' selected' : '' %>>
                KS
              </option>
              <option<%- state === 'KY' ? ' selected' : '' %>>
                KY
              </option>
              <option<%- state === 'LA' ? ' selected' : '' %>>
                LA
              </option>
              <option<%- state === 'MA' ? ' selected' : '' %>>
                MA
              </option>
              <option<%- state === 'MD' ? ' selected' : '' %>>
                MD
              </option>
              <option<%- state === 'ME' ? ' selected' : '' %>>
                ME
              </option>
              <option<%- state === 'MI' ? ' selected' : '' %>>
                MI
              </option>
              <option<%- state === 'MN' ? ' selected' : '' %>>
                MN
              </option>
              <option<%- state === 'MO' ? ' selected' : '' %>>
                MO
              </option>
              <option<%- state === 'MS' ? ' selected' : '' %>>
                MS
              </option>
              <option<%- state === 'MT' ? ' selected' : '' %>>
                MT
              </option>
              <option<%- state === 'NC' ? ' selected' : '' %>>
                NC
              </option>
              <option<%- state === 'ND' ? ' selected' : '' %>>
                ND
              </option>
              <option<%- state === 'NE' ? ' selected' : '' %>>
                NE
              </option>
              <option<%- state === 'NH' ? ' selected' : '' %>>
                NH
              </option>
              <option<%- state === 'NJ' ? ' selected' : '' %>>
                NJ
              </option>
              <option<%- state === 'NM' ? ' selected' : '' %>>
                NM
              </option>
              <option<%- state === 'NV' ? ' selected' : '' %>>
                NV
              </option>
              <option<%- state === 'NY' ? ' selected' : '' %>>
                NY
              </option>
              <option<%- state === 'OH' ? ' selected' : '' %>>
                OH
              </option>
              <option<%- state === 'OK' ? ' selected' : '' %>>
                OK
              </option>
              <option<%- state === 'OR' ? ' selected' : '' %>>
                OR
              </option>
              <option<%- state === 'PA' ? ' selected' : '' %>>
                PA
              </option>
              <option<%- state === 'RI' ? ' selected' : '' %>>
                RI
              </option>
              <option<%- state === 'SC' ? ' selected' : '' %>>
                SC
              </option>
              <option<%- state === 'SD' ? ' selected' : '' %>>
                SD
              </option>
              <option<%- state === 'TN' ? ' selected' : '' %>>
                TN
              </option>
              <option<%- state === 'TX' ? ' selected' : '' %>>
                TX
              </option>
              <option<%- state === 'UT' ? ' selected' : '' %>>
                UT
              </option>
              <option<%- state === 'VA' ? ' selected' : '' %>>
                VA
              </option>
              <option<%- state === 'VT' ? ' selected' : '' %>>
                VT
              </option>
              <option<%- state === 'WA' ? ' selected' : '' %>>
                WA
              </option>
              <option<%- state === 'WI' ? ' selected' : '' %>>
                WI
              </option>
              <option<%- state === 'WV' ? ' selected' : '' %>>
                WV
              </option>
              <option<%- state === 'WY' ? ' selected' : '' %>>
                WY
              </option>
            </select>
          </form>
        </span>
      </span>
    </td>
  </tr>
  <tr data-attribute='zip'>
    <th>Zip:</th>
    <td title='Double-click to edit'>
      <span class='profile-field' id='zip'>
        <span class='p'><%= model.get('zip') || 'N/A' %></span>
        <span class='form'><form><input name='zip' value='<%= model.get('zip') %>' /></form></span>
      </span>
    </td>  
  </tr>
  <tr>
    <th>Member Since:</th>
    <td><%= model.prettyCreateDate() %></td>
  </tr>
</table>