<table class='organization-listing' title="<%- model.get('name') %>">
  <tr>
    <td><a href='#' class='organization-name'><%- model.get('name') %></a></td>
  </tr>
  <% if(model.get('website')) { %>
    <tr>
      <td><a href="<%- model.get('website') %>"><%- model.get('website') %></a></td>
    </tr>
  <% } %>
  <% var attributes = ['phone_1', 'phone_2', 'email_1', 'email_2', 'address_1', 'address_2'] %>
  <% _.each(attributes, function(attribute) { %>
    <% if(model.get(attribute)) { %>
      <tr>
        <td><%- model.get(attribute) %></td>
      </tr>
    <% } %>
  <% }) %>

  <% if(model.cityStateZip()) { %>
    <tr>
      <td><%- model.cityStateZip() %></td>
    </tr>
  <% } %>
</table>