<div class='panel-heading'>
  <i class='fa fa-calendar-o fa-fw'></i>  My Calendar
  <span class='pull-right toggle-widget'><i class='fa fa-minus fa-fw'></i></span>
</div>
</div>
<div class='panel-body'>
  <div class='table-responsive'>
    <table class='calendar table'>
      <thead>
        <tr>
          <th class='row-header'></th>
          <th><%= days[0] %></th>
          <th class='current'><%= days[1] %></th>
          <th><%= days[2] %></th>
        </tr>
      </thead>
      <tbody>
        <tr class='time-slot'>
          <th class='row-header'>8:00 AM</th>

          <td class='calendar-cell <%= days[0] %>'></td>
          <td class='calendar-cell current'></td>
          <td class='calendar-cell <%= days[2] %>'></td>
        </tr>

        <tr class='time-slot'>
          <th class='row-header'>9:00 AM</th>

          <td class='calendar-cell <%= days[0] %>'></td>
          <td class='calendar-cell current'></td>
          <td class='calendar-cell <%= days[2] %>'></td>
        </tr>

        <tr class='time-slot'>
          <th class='row-header'>10:00 AM</th>

          <td class='calendar-cell <%= days[0] %>'></td>
          <td class='calendar-cell current'></td>
          <td class='calendar-cell <%= days[2] %>'></td>
        </tr>

        <tr class='time-slot'>
          <th class='row-header'>11:00 AM</th>

          <td class='calendar-cell <%= days[0] %>'></td>
          <td class='calendar-cell current'></td>
          <td class='calendar-cell <%= days[2] %>'></td>
        </tr>

        <tr class='time-slot'>
          <th class='row-header'>12:00 PM</th>

          <td class='calendar-cell <%= days[0] %>'></td>
          <td class='calendar-cell current'></td>
          <td class='calendar-cell <%= days[2] %>'></td>
        </tr>

        <tr class='time-slot'>
          <th class='row-header'>1:00 PM</th>

          <td class='calendar-cell <%= days[0] %>'></td>
          <td class='calendar-cell current'></td>
          <td class='calendar-cell <%= days[2] %>'></td>
        </tr>

        <tr class='time-slot'>
          <th class='row-header'>2:00 PM</th>

          <td class='calendar-cell <%= days[0] %>'></td>
          <td class='calendar-cell current'></td>
          <td class='calendar-cell <%= days[2] %>'></td>
        </tr>

        <tr class='time-slot'>
          <th class='row-header'>3:00 PM</th>

          <td class='calendar-cell <%= days[0] %>'></td>
          <td class='calendar-cell current'></td>
          <td class='calendar-cell <%= days[2] %>'></td>
        </tr>

        <tr class='time-slot'>
          <th class='row-header'>4:00 PM</th>

          <td class='calendar-cell <%= days[0] %>'></td>
          <td class='calendar-cell current'></td>
          <td class='calendar-cell <%= days[2] %>'></td>
        </tr>

        <tr class='time-slot'>
          <th class='row-header'>5:00 PM</th>

          <td class='calendar-cell <%= days[0] %>'></td>
          <td class='calendar-cell current'></td>
          <td class='calendar-cell <%= days[2] %>'></td>
        </tr>

        <tr class='time-slot'>
          <th class='row-header'>6:00 PM</th>

          <td class='calendar-cell <%= days[0] %>'></td>
          <td class='calendar-cell current'></td>
          <td class='calendar-cell <%= days[2] %>'></td>
        </tr>

        <tr class='time-slot'>
          <th class='row-header'>7:00 PM</th>

          <td class='calendar-cell <%= days[0] %>'></td>
          <td class='calendar-cell current'></td>
          <td class='calendar-cell <%= days[2] %>'></td>
        </tr>

        <tr class='time-slot'>
          <th class='row-header'>8:00 PM</th>

          <td class='calendar-cell <%= days[0] %>'></td>
          <td class='calendar-cell current'></td>
          <td class='calendar-cell <%= days[2] %>'></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>