<li class='sidebar-search'>
  <div class='input-group custom-search-form'>
  <input type='text' class='form-control' placeholder='Search...'>
    <span class='input-group-btn'>
      <button class='btn btn-default' type='button'>
        <i class='fa fa-search'></i>
      </button>
    </span>
  </input>
  </div> <!-- end input-group -->
</li>
<li>
  <a href='#dashboard' class='dashboard-link sidebar-link' onclick='return false'><i class='fa fa-dashboard fa-fw'></i> Dashboard</a>
</li>
<li>
  <a href='#tasks' class='task-page-link sidebar-link' onclick='return false'><i class='fa fa-tasks fa-fw'></i> Tasks</a>
</li>
<li>
  <a href='#' onclick='return false'><i class='fa fa-bar-chart-o fa-fw' onclick='return false'></i> Charts<span class='fa arrow'></span></a>
  <ul class='nav nav-second-level collapse in' style='display: none;'>
    <li>
      <a href='flot.html' onclick='return false'>Flot Charts</a>
    </li>
    <li>
      <a href='morris.html' onclick='return false'>Morris.js Charts</a>
    </li>
  </ul> <!-- end nav-second-level -->
</li>
<li>
  <a href='tables.html' onclick='return false'><i class='fa fa-table fa-fw'></i> Tables</a>
</li>
<li>
  <a href='forms.html' onclick='return false'><i class='fa fa-edit fa-fw'></i> Forms</a>
</li>
<li>
  <a href='#' class='sidebar-link' onclick='return false'><i class='fa fa-wrench fa-fw'></i> UI Elements<span class='fa arrow'></span></a>
  <ul class='nav nav-second-level collapse in' style='display: none;'>
    <li>
      <a href='panels-wells.html' onclick='return false'>Panels and Wells</a>
    </li>
    <li>
      <a href='buttons.html' onclick='return false'>Buttons</a>
    </li>
    <li>
      <a href='notifications.html' onclick='return false'>Notifications</a>
    </li>
    <li>
      <a href='typography.html' onclick='return false'>Typography</a>
    </li>
    <li>
      <a href='grid.html' onclick='return false'>Grid</a>
    </li>
  </ul> <!-- end nav-second-level -->
</li>
<li>
  <a href='#' class='sidebar-link' onclick='return false'><i class='fa fa-sitemap fa-fw'></i> Multi-Level Dropdown<span class='fa arrow'></span></a>
  <ul class='nav nav-second-level collapse in' style='display: none;'>
    <li>
      <a href='#' onclick='return false'>Second Level Item</a>
    </li>
    <li>
      <a href='#' onclick='return false'>Second Level Item</a>
    </li>
    <li>
      <a href='#' onclick='return false'>Third Level <span class='fa arrow'></span></a>
        <ul class='nav nav-third-level collapse in' style='display: none;'>
          <li>
            <a href='#' onclick='return false'>Third Level Item</a>
          </li>
          <li>
            <a href='#' onclick='return false'>Third Level Item</a>
          </li>
          <li>
            <a href='#' onclick='return false'>Third Level Item</a>
          </li>
          <li>
            <a href='#' onclick='return false'>Third Level Item</a>
          </li>
        </ul> <!-- end nav-third-level -->
      </li>
    </ul> <!-- end nav-second-level -->
</li>
<li>
  <a href='#' class='sidebar-link' onclick='return false'><i class='fa fa-files-o fa-fw'></i> Sample Pages<span class='fa arrow'></span></a>
  <ul class='nav nav-second-level collapse in' style='display: none;'>
    <li>
      <a href='blank.html' onclick='return false'>Blank Page</a>
    </li>
    <li>
      <a href='/#login' onclick='return false'>Login Page</a>
    </li>
  </ul> <!-- end nav-second-level -->
</li>