<a href='' class='task-title' title="<%= model.escape('title') %>"><%= model.displayTitle() %></a>
<table class='task-details'>
  <% if (model.get('deadline')) { %>
    <tr class='task-deadline-row'>
      <th>Deadline:</th>
      <td><%= model.prettyDeadline() %></td>
    </tr>
  <% } %>
  <tr class='task-priority-row'>
    <th>Priority:</th>
    <td><%= model.escape('priority') %></td>
  </tr>
  <tr class='task-status-row'>
    <th>Status:</th>
    <td><%= model.escape('status') %></td>
  </tr>
  <% if (model.get('description')) { %>
    <tr class='task-description-row'>
      <th style='vertical-align: text-top'>Notes:</th>
      <td><%= model.escape('description') %></td>
    </tr>
  <% } %>
</table>