<span class='pull-right edit-task'>
  <i class='fa fa-archive fa-fw' title='Backlog'></i>  <i class='fa fa-pencil fa-fw' title='Edit'></i>  <i class='fa fa-times fa-fw' title='Delete'></i>
</span>
<table>
  <tr>
    <td style='vertical-align: top'><i class='fa fa-square-o' title="Mark complete"></i></td>
    <td class='task-listing'>
      <a href='' class='task-title' title="<%- model.get('title') %>"><%- model.displayTitle(35) %></a>
      <table class='task-details'>
        <% if (model.get('deadline')) { %>
          <tr class='task-deadline-row'>
            <th>Deadline:</th>
            <td><%- model.prettyDeadline() %></td>
          </tr>
        <% } %>
        <tr class='task-priority-row'>
          <th>Priority:</th>
          <td><%- model.get('priority') %></td>
        </tr>
        <tr class='task-status-row'>
          <th>Status:</th>
          <td><%- model.get('status') %></td>
        </tr>
        <% if (model.get('description')) { %>
          <tr class='task-description-row'>
            <th style='vertical-align: text-top'>Notes:</th>
            <td><%- model.get('description') %></td>
          </tr>
        <% } %>
      </table>
    </td>
  </tr>
</table>