<div id='view'></div>
<div id='triggers' style='float: right'>
  <ul>
    <li><a href='#' data-method='hideDropdownMenus'>hideDropdownMenus</a></li>
    <li><a href='#' data-method='toggleDropdownMenu'>toggleDropdownMenu</a></li>
    <li><a href='#' data-method='toggleSidebar'>toggleSidebar</a></li>
    <li><a href='#' data-method='redirect'>redirect</a></li>
    <li><a href='#' data-method='setUser'>setUser</a></li>
    <li><a href='#' data-method='showSidebar'>showSidebar</a></li>
    <li><a href='#' data-method='hideSidebar'>hideSidebar</a></li>
    <li><a href='#' data-method='showHomeView'>showHomeView</a></li>
    <li><a href='#' data-method='showTaskView'>showTaskView</a></li>
  </ul>
</div>
