<div id='view'></div>
<div id='triggers' style='float: right'>
  <ul>
    <li><a href='#' data-method='hideDropdownMenus' onclick='return false'>hideDropdownMenus</a></li>
    <li><a href='#' data-method='toggleDropdownMenu' onclick='return false'>toggleDropdownMenu</a></li>
    <li><a href='#' data-method='toggleSidebar' onclick='return false'>toggleSidebar</a></li>
    <li><a href='#' data-method='redirect' onclick='return false'>redirect</a></li>
    <li><a href='#' data-method='setUser' onclick='return false'>setUser</a></li>
    <li><a href='#' data-method='showSidebar' onclick='return false'>showSidebar</a></li>
    <li><a href='#' data-method='hideSidebar' onclick='return false'>hideSidebar</a></li>
    <li><a href='#' data-method='showHomeView' onclick='return false'>showHomeView</a></li>
    <li><a href='#' data-method='showTaskView' onclick='return false'>showTaskView</a></li>
  </ul>
</div>
