<select name='type'>
  <option<%= (!model || model.get('type') === 'soprano') ? ' selected' : ''%>>Soprano</option>
  <option<%= model && model.get('type') === 'mezzo-soprano' ? ' selected' : ''%>>Mezzo-soprano</option>
  <option<%= model && model.get('type') === 'contralto' ? ' selected' : ''%>>Contralto</option>
  <option<%= model && model.get('type') === 'countertenor' ? ' selected' : ''%>>Countertenor</option>
  <option<%= model && model.get('type') === 'tenor' ? ' selected' : ''%>>Tenor</option>
  <option<%= model && model.get('type') === 'baritone' ? ' selected' : ''%>>Baritone</option>
  <option<%= model && model.get('type') === 'bass' ? ' selected' : ''%>>Bass</option>
</select>

<select name='quality' class='hidden'>
  <option<%= (!model || model.get('quality') === 'lyric') ? ' selected' : '' %>>Lyric</option>
  <option<%= model && model.get('quality') === 'dramatic' ? ' selected' : '' %>>Dramatic</option>
</select>

<input name='coloratura' type='checkbox' class='checkbox hidden' />