<form class='task-form' role='form'>
  <div class='form-group'>
    <label>Title (required)</label>
    <input class='form-control' name='title' placeholder='New task'>
  </div>

  <div class='form-group'>
    <label>Deadline</label>
    <input type='date' name='deadline' class='form-control'>
  </div>

  <!-- status options -->
  <div class='form-group'>
    <label>Status</label>
    <label class='radio-inline'>
      <input type='radio' name='status' value='new' checked>
      New
    </label>
    <label class='radio-inline'>
      <input type='radio' name='status' value='in_progress'>
      In Progress
    </label>
    <label class='radio-inline'>
      <input type='radio' name='status' value='blocking'>
      Blocking
    </label>
    <label class='radio-inline'>
      <input type='radio' name='status' value='complete'>
      Complete
    </label>
  </div>

  <!-- Priority options -->
  <div class='form-group'>
    <label>Priority</label>
    <label class='radio-inline'>
      <input type='radio' name='priority' value='urgent'>
      Urgent
    </label>
    <label class='radio-inline'>
      <input type='radio' name='priority' value='high'>
      High
    </label>
    <label class='radio-inline'>
      <input type='radio' name='priority' value='normal' checked>
      Normal
    </label>
    <label class='radio-inline'>
      <input type='radio' name='priority' value='low'>
      Low
    </label>
    <label class='radio-inline'>
      <input type='radio' name='priority' value='not_important'>
      Lowest
    </label>
  </div>

  <div class='form-group'>
    <label>Notes</label>
    <textarea name='description' class='form-control' rows='2'></textarea>
  </div>

  <button type='submit' class='btn btn-default'>Create</button>
  <button type='reset' class='btn btn-default'>Reset</button>
</form>