<form class='task-form' role='form'>
  <div class='form-group'>
    <input class='form-control' name='title' placeholder='Title (required)'>
    <input type='date' name='deadline' class='form-control'>
    <input list='statuses' class='form-control' name='status' placeholder='Status'>
    <datalist id='statuses'>
      <option value='New' />
      <option value='In Progress' />
      <option value='Blocking' />
      <option value='Complete' />
    </datalist>

    <!-- priority options -->
    <input list='priorities' class='form-control' name='priority' placeholder='Priority'>
    <datalist id='priorities'>
      <option value='Urgent' />
      <option value='High' />
      <option value='Normal' />
      <option value='Low' />
      <option value='Not Important' />
    </datalist>
    <textarea name='description' class='form-control' rows='2' placeholder='Notes'></textarea>
  </div>

  <button type='submit' class='btn btn-default'>Create</button>
  <button type='reset' class='btn btn-default'>Reset</button>
</form>