<tr>
  <td style='vertical-align: top'><i class='fa fa-square-o'></i></td>
  <td class='task-listing'>
    <table class='task-model'>
      <tr>
        <td colspan='2'>
          <a href='' class='task-title'><%= attributes.title %></a>
        </td>
      </tr>
      <% if (attributes.deadline !== undefined) { %> 
        <tr>
          <td><strong>Deadline:</strong></td>
          <td>$<%= attributes.deadline %></td>
        </tr>
      <% } %>
      <tr>
        <td><strong>Priority:</strong></td>
        <td><%= attributes.priority %></td>
      </tr>
      <tr>
        <td><strong>Status:</strong></td>
        <td><%= attributes.status %></td>
      </tr>
      <% if (attributes.description !== undefined) { %>
        <tr>
          <td style='vertical-align: text-top'><strong>Notes:</td>
          <td>$<%= attributesdescription %></td>
        </tr>
      <% } %>
    </table>
  </td>
</tr>