<table class='task-model'>
  <tr>
    <td colspan='2'>
      <a href='' class='task-title'><%= attributes.title %></a>
    </td>
  </tr>
  <% if (attributes.deadline) { %>
    <tr>
      <td><strong>Deadline:</strong></td>
      <td><%= attributes.deadline %></td>
    </tr>
  <% } %>
  <tr>
    <td><strong>Priority:</strong></td>
    <td><%= attributes.priority %></td>
  </tr>
  <tr>
    <td><strong>Status:</strong></td>
    <td><%= attributes.status %></td>
  </tr>
  <% if (attributes.description) { %>
    <tr>
      <td style='vertical-align: text-top'><strong>Notes:</strong></td>
      <td><%= attributes.description %></td>
    </tr>
  <% } %>
</table>