<table class='task-model'>
  <tr>
    <td colspan='2'>
      <a href='' class='task-title'><%= title %></a>
    </td>
  </tr>
  <tr>
    <td><strong>Deadline:</strong></td>
    <td>May 17, 2015</td>
  </tr>
  <tr>
    <td><strong>Priority:</strong></td>
    <td>Urgent</td>
  </tr>
  <tr>
    <td><strong>Status:</strong></td>
    <td>Blocking</td>
  </tr>
  <tr>
    <td style='vertical-align: text-top'><strong>Notes:</td>
    <td>We have some problems here and we need to figure out why.</td>
  </tr>
</table>